<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <h1>URL shortner</h1>
    <% if (locals.id) { %>
        <p> URL generated:  http://localhost:8001/<%= id %></p>
     
    <% } %>
    <div>
        <form method = "POST" action = "/url">
            <label>Enter your orignal url</label>
            <input type = "text" name = "url" placeholder="https://abc.com"/>
            <button type = "submit">generate</button>

        </form>
        
    </div>
    <div>
        <% if (locals.urls) { %>
            <table >
                <thead>
                    <th>S. no.</th>
                    <th>gotolink</th>
                    <th>link</th>
                    <th>Shortid</th>
                    <th>redirect</th>
                    <th>clicks</th>
                    
                </thead>
                
                <tbody>
                    
                    <% urls.forEach((url , index) => { %>
                        
                        <tr>
                        <td><%= index+1 %> </td>
                        <td><a href = "https://yuvanshu-urls.vercel.app/<%= url.shortId %>" target="_blank" >go to this</a></td>
                        <td> https://yuvanshu-urls.vercel.app/<%= url.shortId %> </td>
                        <td><%= url.shortId %></td>
                        
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                        
                    </tr>
                     
                    <% }) %>
                </tbody>
            </table>
         
        <% } %>
    </div>
    <hr>
    <div class="container">
        <h1>QR Code Generator</h1>
        
        <form action="/scan" method="POST" class="form">
            <textarea name="text" id="text" cols="150" rows="10" placeholder="Enter URL or Text" required></textarea>
            <button type="submit" class="btn btn-primary">Generate QR Code</button>

        </form>
</body>
</html>